@import url('_fonts.css');
@import url('./errormessage/errormessage.css');
@import url('./_root/root.css');
@import url('./blackcss/BlackCSS.css');

* {
    transition: 0.1s ease-in-out;
    outline: none;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: none;
}

body {
    background: var(--tmbg);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: hidden;
}

a {
    color: inherit;
}

#app {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    transition: none !important;
}

.fsize-1 {
    font-size: 1em;
}

.fsize-1-5 {
    font-size: 1.5em;
}

.fsize-2 {
    font-size: 2em;
}

.fsize-3 {
    font-size: 3em;
}

.fsize-4 {
    font-size: 4em;
}

.fsize-5 {
    font-size: 5em;
}

.fsize-6 {
    font-size: 6em;
}

.fsize-7 {
    font-size: 7em;
}

.fsize-8 {
    font-size: 8em;
}


img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.tab {
    display: inline-block;
    padding: 20px 40px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: var(--black);
    background: var(--tmtabs);
    color: var(--white);
}

.tab:hover {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
}

.tab-33 {
    width: 33%;
}

.site_name {
    background: var(--organgenav);
    font-weight: 700;
    display: grid;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

/*! POPUP */

.popup {
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.822);
}

.popup #popupclose {
    margin: 30px 50px 0 0;
}

.popup_wrapper {
    height: 80%;
    width: 80%;
    background: #0f0f0f;
    margin: 80px 0;
    margin-left: 60px;
    overflow-y: auto;
}

.popup_wrapper header {
    display: inline-flex;
}

/*! TABLES */
.playerlist,
.vehlist,
.bewerbungslist {
    overflow-x: auto;
}

main tbody label div {
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 50%;
}

input[type="checkbox"]:checked~.div:before {
    content: '';
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 4px;
    width: 13px;
    background: black;
    transform: rotate(39deg) translate(7px, 3.5px);
}

input[type="checkbox"]:checked~.div:after {
    content: '';
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 4px;
    width: 25px;
    background: black;
    transform: rotate(-50deg) translateX(-5px);
}

input[type="checkbox"]:checked~.pl_button {
    cursor: pointer !important;
    opacity: 1;
}